/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.transit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
img {
  max-width: 100%;
  height: auto;
}
.group-left {
  width: 49%;
  float: left;
  margin-bottom: 20px;
}
.group-right {
  width: 49%;
  float: right;
  margin-bottom: 20px;
}
a.logo img {
  width: 34px;
}
.hl {
  margin: 0 0 30px;
}
.highlightbox > * {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
form#search-block-form {
  float: right;
  width: 300px;
  margin: 3px 0 0;
}
div.styleguide {
  border-top: 1px solid #d5d5d5;
}
#overlay {
  display: block;
  width: 40%;
  min-width: 400px;
  max-width: 100%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
#overlay #overlay-titlebar {
  display: none;
}
#overlay #overlay-content #overlay-close-wrapper {
  right: 50px;
  z-index: 5;
}
#overlay #overlay-content .container {
  max-width: 100%;
}
body {
  background: #f5f5f5;
}
body .navbar-fixed-top .region-navigation {
  float: right;
}
body .navbar-fixed-top .region-navigation #block-system-user-menu h2 {
  display: none;
}
body .navbar-fixed-top .region-navigation #block-system-user-menu ul.menu {
  margin-top: 5px;
}
body .navbar-fixed-top .region-navigation #block-system-user-menu ul.menu > li {
  display: inline-block;
}
body.admin-menu {
  margin-top: 20px !important;
}
body.admin-menu .navbar-fixed-top {
  top: 20px;
}
.frontmenu .frontmenu-inner .frontmenu-block {
  display: inline-block;
  width: 31%;
  padding: 20px 2%;
  vertical-align: top;
  height: 330px;
  margin: 0 0 5px;
}
.frontmenu .frontmenu-inner .frontmenu-block > * {
  display: block;
  text-align: center;
}
.frontmenu .frontmenu-inner .frontmenu-block h3 {
  text-transform: uppercase;
  margin-top: 0;
}
.frontmenu .frontmenu-inner .frontmenu-block img {
  margin: 20px auto;
  width: 40%;
  opacity: 0.5;
}
.frontmenu .frontmenu-inner .frontmenu-block img:hover {
  opacity: 1;
}
.frontmenu .frontmenu-inner .frontmenu-block .frontmenu-links > a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  width: 20%;
}
.frontmenu .frontmenu-inner .frontmenu-block .frontmenu-links > a > img {
  width: 75%;
  margin: 0;
  display: inline-block;
}
.view-projects .views-row .group-left {
  margin-bottom: 0;
}
.view-projects .views-row .group-left .field-name-field-project-image img {
  border: 5px solid #fff;
  border-radius: 4px;
  margin: 0;
}
.view-projects .views-row .group-right {
  margin-bottom: 0;
}
.view-projects .views-row .group-right .group-right-top {
  font-size: 12px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px dashed #ddd;
}
.view-projects .views-row .group-right .group-right-top > * {
  display: inline-block;
  vertical-align: top;
  margin: 5px 20px 0 0;
  padding: 0 20px 0 0;
  border-right: 1px solid #ddd;
}
.page-payments .region-content {
  position: relative;
}
.page-payments .region-content .block-block .btn {
  position: absolute;
  right: 0;
  top: -70px;
}
.view-payments .views-table tbody tr .views-field-field-payment-status a[href="/paymentstatus/betaald"] {
  color: green;
}
.view-payments .views-table tbody tr .views-field-field-payment-status a[href="/paymentstatus/te-betalen"] {
  color: red;
}
.view-payments .views-table tbody tr .views-field-field-payment-status a[href="/paymentstatus/wachten"] {
  color: orange;
}
.node-type-projects .region-content .node-projects {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node-type-projects .region-content .node-projects .group-left {
  width: 26%;
  margin-bottom: 0;
}
.node-type-projects .region-content .node-projects .group-right {
  width: 72%;
  margin-bottom: 0;
  position: relative;
}
.node-type-projects .region-content .node-projects .group-right .field-name-title h2 {
  margin-top: 0;
}
.node-type-projects .region-content .node-projects .group-right .field-name-field-project-client {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 10px;
  background: #555;
  color: #fff;
  border-radius: 4px;
}
.node-type-projects .region-content .node-projects .group-right .field-name-field-project-client .field-label {
  font-weight: 300;
}
.node-type-projects .region-content .node-projects .group-right .field-name-field-project-client a {
  color: #fff;
  font-weight: 300;
}
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar {
  padding: 15px 0;
  background: #f8f8f8;
  line-height: 1.2;
  margin-top: 40px;
}
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar > * {
  text-align: center;
  border-right: 1px solid #ddd;
  display: inline-block;
  width: 33%;
}
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar > *:last-child {
  border-right: 0;
}
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar > * .field-label {
  font-weight: 300;
  text-transform: uppercase;
}
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar > * .field-items,
.node-type-projects .region-content .node-projects .group-right .group-project-status-bar > * .field-items a {
  font-size: 24px;
  font-weight: 300;
}
.node-type-projects #tabbox {
  border: 0;
  background: none;
  background-image: none;
  position: relative;
  margin: 40px 0 0;
}
.node-type-projects #tabbox > ul {
  background: none;
  border: 0;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.node-type-projects #tabbox > ul li {
  background: none;
  border: 0;
  display: inline-block;
  margin-left: 3px;
}
.node-type-projects #tabbox > ul li[aria-selected="true"] a {
  background: #428bca;
  color: #fff;
}
.node-type-projects #tabbox > #block-views-tickets-block {
  border: 0;
  background: none;
  background-image: none;
}
.node-type-projects #tabbox > #block-views-tickets-block:before {
  display: none;
}
.node-type-projects #tabbox > #block-views-tickets-block select {
  height: 26px;
  padding: 2px 12px;
}
.node-type-projects #tabbox > #block-views-tickets-block .form-group {
  margin-bottom: 0;
}
.node-type-projects #tabbox > #block-views-tickets-block table tr td.views-field-title a {
  color: #444;
}
.node-type-projects #tabbox > #block-views-kanban {
  border: 0;
  background: none;
  background-image: none;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  padding: 10px 0;
  position: relative;
  margin: 20px 0 0;
  border-right: 1px solid #ddd;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock:last-child {
  border: 0;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock > .ticket-count {
  font-size: 12px;
  background: orange;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 52px;
  color: #fff;
  text-align: center;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock > .ticket-count.overmax {
  background: red;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock#block-views-tickets-block-5 > .ticket-count {
  background: green;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock > h2 {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets {
  padding: 10px;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .view-empty {
  text-align: center;
  font-style: italic;
  color: #aaa;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row {
  margin: 0 0 10px;
  padding: 5px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-title {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #ddd;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-body {
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
  padding: 5px 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-priority-editable,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-assignee-editable,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-type-editable,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-nid {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  font-size: 14px;
  color: #bbb;
}
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-priority-editable a,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-assignee-editable a,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-field-tick-type-editable a,
.node-type-projects #tabbox > #block-views-kanban .kanbanblock .view-tickets .views-row .views-field-nid a {
  color: #bbb;
}
.page-tickets .region-content .view-tickets table.views-table {
  margin-bottom: 40px;
}
.page-tickets .region-content .view-tickets table.views-table > caption {
  font-size: 24px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 5px;
  color: #888;
}
.page-tickets .region-content .view-tickets table.views-table .form-group {
  margin-bottom: 0;
}
.view-tickets table tr td.views-field .views-row-edit-static,
.view-tickets table tr td.views-field label {
  display: none;
}
.page-projects .region-content .view-projects .views-row .group-left {
  width: 23%;
  margin-right: 2%;
}
.page-projects .region-content .view-projects .views-row .group-middle {
  width: 50%;
}
.page-projects .region-content .view-projects .views-row .group-middle h2 {
  margin-top: 0;
}
.page-projects .region-content .view-projects .views-row .group-right {
  width: 19%;
  margin-left: 2%;
  padding: 10px 2%;
  background: #ddd;
}
.node-type-documents .region-content .group-left {
  width: 20%;
}
.node-type-documents .region-content .group-right {
  width: 74%;
  float: right;
  background: #ddd;
  padding: 20px 2%;
}
